<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
    <header>
        <%- include('../../layout/header') %>
    </header>  
    <main>
        <form action="/searches" method="POST" id="bookLibraryid">

            <input type="text" name="bookSearch" id="bookSearchid" placeholder="Enter a Title or Author">

            <label for="searchTypeByTitleid">Title</label>
            <input type="radio" name="searchType" id="searchTypeByTitleid" value="title">
            
            <label for="searchTypeByAuthorid">Author</label>
            <input type="radio" name="searchType" id="searchTypeByAuthorid" value="author">

            <button type="submit">Search the Google Book API</button>

        </form>
    </main>  
</body>
</html>